body {
	background-color: #4cf361;

}
FORM {
	font-family: "Arial";
	font-size: 18px;
	color: blue;
	
}

p {
	font-family: "Arial";
	font-size: 15px;
	color: red;
}

a {
	font-family: "Arial";
	font-size: 18px;
	color: blue;
}

H1 {
	font-family: "Arial";
	color: BLACK;
}




